.port {
  border-top: solid #565656 1px;
  border-bottom: none;
}

.porfolio_img {
  padding: 0;
  background-repeat: no-repreat;
  display: flex;
}

.porfolio_img > img {
  width: 100%;
  height: 25vh;
  transition: all .5s;
}

.porfolio_img:hover > img {
  opacity: .5;
}
