.port {
  border-top: solid #565656 1px;
  border-bottom: none;
}

.porfolio_img {
  padding: 0;
  background-repeat: no-repreat;
  display: flex;
  background-color: #fd5433;
}

.porfolio_img > img {
  width: 100%;
  height: 25vh;
}

.porfolio_img:hover {
  background-color: #fd5433;
}
