.about-row {
  display: flex;
  margin: 0 120px;
}

.about-row .about-u {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background-repeat: no-repeat;
}

.about-row .about-u .au-discr {
  display: flex;
  position: absolute;
  width: 100vw;
  left: -150%;
  top: 100%;
  background-color: #fd5433;
  padding: 75px 120px 30px 120px;
  opacity: 0;
  z-index: 0;
}

.about-row .about-u .au-discr:nth-child(1) {
  left: 27%;
}

.about-row .about-u .au-discr:nth-child(4) .skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-row .about-u .au-discr:nth-child(4) .skills .skil-lines {
  height: 10px;
  background-color: #fff;
  margin: 17px 0;
}

.about-u:hover > .au-discr {
  opacity: 1;
  z-index: 9999;
}
