$dark_grey: #565656
$orange: #fd543
.port
	border-top: solid $dark_grey 1px
	border-bottom: none
.p-1
	display: flex
	flex-wrap: wrap
	& > img
		background-repeat: no-repeat
		width: calc(100% / 6)
.port-img
	width: 100%