$dark_grey: #565656
$orange: #fd5433
$hover: rgba(255,255,255,.4)
.port
	border-top: solid $dark_grey 1px
	border-bottom: none
.porfolio_img
	padding: 0
	background-repeat: no-repreat
	display: flex
	background-color: $orange
	& > img
		width: 100%
		height: 25vh
	&:hover
		background-color: $orange
