@font-face {
  font-family: Oswald-Bold;
  src: url(../fonts/Oswald/Oswald-Bold.ttf);
}

@font-face {
  font-family: Oswald-Regular;
  src: url(../fonts/Oswald/Oswald-Regular.ttf);
}

html {
  margin: 0;
  padding: 0;
}

header {
  height: 110px;
}

.nav-mnu {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  margin: 0;
  transparency: 0.4;
}

.nav-mnu li {
  text-transform: uppercase;
  padding: 65px 20px;
  font-family: Oswald-Bold;
  color: #565656;
}

.nav-mnu li:hover {
  background-color: #fd5433;
  color: #ffffff;
}

.logo {
  height: 110px;
  display: flex;
  align-items: center;
  margin-left: 50%;
}

nav {
  display: flex;
  height: 110px;
}

.bcg_head {
  padding: 0;
}

.bcg_head > img {
  width: 100%;
  height: 100%;
  z-index: 990;
}

.bcg_head .in-head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
}

.bcg_head .in-head > h1 {
  font-family: Oswald-Bold;
  position: absolute;
  z-index: 999;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 7vw;
}

.bcg_head .in-head > a {
  position: absolute;
  z-index: 998;
  text-transform: uppercase;
  font-family: Oswald-Bold;
  margin-top: 9%;
  width: 10em;
  font-size: 2em;
}

.btn-primary {
  color: #ffffff;
  border-color: transparent;
  border-top: solid 2px #FD6E52;
  background-color: #fd5433;
}

.btn-primary:hover {
  background-color: #ffffff;
  color: #565656;
  border-color: transparent;
}

.switch {
  opacity: 1;
  display: flex;
  flex-direction: column;
  width: 3em;
  position: absolute;
  right: -30px;
  top: 40px;
  height: 30px;
  margin-right: 83px;
}

.switch .sandwich {
  width: 100%;
  height: 3px;
  background-color: #000;
  margin: 3px;
  position: absolute;
  transition: .4s;
}

.switch .line-1 {
  top: 0;
}

.switch .line-2 {
  top: 10px;
}

.switch .line-3 {
  top: 20px;
}

.sw_closed {
  opacity: 1;
  display: flex;
  flex-direction: column;
  width: 3em;
  position: absolute;
  top: 40px;
}

.sw_closed .sandwich {
  width: 100%;
  height: 3px;
  background-color: #000;
  margin: 3px;
  position: absolute;
  transition: .4s;
}

.sw_closed .line-1 {
  top: 10px;
  transform: rotate(45deg);
}

.sw_closed .line-2 {
  opacity: 0;
}

.sw_closed .line-3 {
  top: 10px;
  transform: rotate(-45deg);
}

@media screen and (min-width: 1200px) {
  .switch {
    opacity: 0;
  }
}

@media screen and (max-width: 1200px) {
  .nav-mnu {
    transition: .6s;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1001;
    top: 110px;
    background-color: #fd5433;
    margin: 0;
    padding: 0;
    right: -100%;
    opacity: 0;
  }
  .nav-mnu > li {
    padding: 10px;
    border-bottom: solid #565656 1px;
    font-size: 1.8rem;
    width: 50%;
  }
  .nav-mnu > li:hover {
    border-bottom: solid #fff 1px;
    padding: 10px;
  }
  .logo {
    margin-left: 20%;
  }
}

@media screen and (max-width: 768px) {
  .bcg_head {
    height: 80vh;
    overflow: hidden;
  }
  .bcg_head img {
    width: 200vw;
  }
}

@media screen and (max-width: 576px) {
  .bcg_head .in-head > a {
    margin-top: 20%;
  }
  .bcg_head .in-head > h1 {
    font-size: 9vw;
  }
}

.serv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border-bottom: solid #565656 1px;
  width: 100%;
}

.serv h2 {
  text-transform: uppercase;
  color: #fd5433;
}

.serv_desript {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 70px 0;
}

.serv_desript h2 {
  padding: 20px 0px;
  font-family: Oswald-Bold;
  text-transform: uppercase;
  color: #565656;
}

.serv_desript:hover > h2 {
  color: #fd5433;
}

.serv_desript h3 {
  font-size: 1rem;
  text-align: center;
  font-family: Arial;
  color: #565656;
}
