@font-face {
  font-family: Oswald-Bold;
  src: url(../fonts/Oswald/Oswald-Bold.ttf);
}

@font-face {
  font-family: Oswald-Regular;
  src: url(../fonts/Oswald/Oswald-Regular.ttf);
}

html {
  margin: 0;
  padding: 0;
}

header {
  height: 110px;
}

.container {
  margin: 0;
  padding: 0;
}

.nav-mnu {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  margin: 0;
  transparency: 0.4;
}

.nav-mnu li {
  text-transform: uppercase;
  padding: 65px 20px;
  font-family: Oswald-Bold;
  color: #565656;
}

.nav-mnu li:hover {
  background-color: #fd5433;
  color: #ffffff;
}

.logo {
  height: 110px;
  display: flex;
  align-items: center;
  margin-left: 20%;
}

nav {
  display: flex;
  height: 110px;
}

.bcg_head {
  padding: 0;
}

.bcg_head > img {
  width: 100%;
  height: 100%;
  z-index: 990;
}

.bcg_head .in-head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
}

.bcg_head .in-head > h1 {
  font-family: Oswald-Bold;
  position: absolute;
  z-index: 999;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 7vw;
}

.bcg_head .in-head > a {
  position: absolute;
  z-index: 998;
  text-transform: uppercase;
  font-family: Oswald-Bold;
  margin-top: 9%;
  width: 10em;
  font-size: 2em;
}

.btn-primary {
  color: #ffffff;
  border-color: transparent;
  border-top: solid 2px #FD6E52;
  background-color: #fd5433;
}

.btn-primary:hover {
  background-color: #ffffff;
  color: #565656;
  border-color: transparent;
}

.switch {
  opacity: 1;
  display: flex;
  flex-direction: column;
  width: 3em;
  position: absolute;
  right: -30px;
  top: 40px;
  height: 30px;
  margin-right: 83px;
}

.switch .sandwich {
  width: 100%;
  height: 3px;
  background-color: #000;
  margin: 3px;
  position: absolute;
  transition: .4s;
}

.switch .line-1 {
  top: 0;
}

.switch .line-2 {
  top: 10px;
}

.switch .line-3 {
  top: 20px;
}

.sw_closed {
  opacity: 1;
  display: flex;
  flex-direction: column;
  width: 3em;
  position: absolute;
  top: 40px;
}

.sw_closed .sandwich {
  width: 100%;
  height: 3px;
  background-color: #000;
  margin: 3px;
  position: absolute;
  transition: .4s;
}

.sw_closed .line-1 {
  top: 10px;
  transform: rotate(45deg);
}

.sw_closed .line-2 {
  opacity: 0;
}

.sw_closed .line-3 {
  top: 10px;
  transform: rotate(-45deg);
}

@media screen and (min-width: 1200px) {
  .switch {
    opacity: 0;
  }
}

@media screen and (max-width: 1200px) {
  .nav-mnu {
    transition: .6s;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1001;
    top: 110px;
    background-color: #fd5433;
    margin: 0;
    padding: 0;
    right: -100%;
    opacity: 0;
  }
  .nav-mnu > li {
    padding: 10px;
    border-bottom: solid #565656 1px;
    font-size: 1.8rem;
    width: 50%;
  }
  .nav-mnu > li:hover {
    border-bottom: solid #fff 1px;
    padding: 10px;
  }
  .logo {
    margin-left: 20%;
  }
  .serv-row .serv_desript h2 {
    padding: 50px 0;
  }
  .row .porfolio_img > img {
    height: 20vh;
  }
}

@media screen and (max-width: 992px) {
  .serv-row .serv_desript h2 {
    padding: 50px 0;
  }
  .serv-row .serv_desript h3 {
    padding: 0 20px;
  }
  .row .porfolio_img > img {
    height: 25vh;
  }
}

@media screen and (max-width: 768px) {
  .bcg_head {
    height: 80vh;
    overflow: hidden;
  }
  .bcg_head img {
    width: 200vw;
  }
  .serv-row .serv_desript h2 {
    padding: 20px 0;
  }
  .serv-row .serv_desript h3 {
    padding: 0;
  }
  .row .porfolio_img > img {
    height: 30vh;
  }
}

@media screen and (max-width: 576px) {
  .bcg_head .in-head > a {
    margin-top: 20%;
  }
  .bcg_head .in-head > h1 {
    font-size: 9vw;
  }
  .row .porfolio_img > img {
    height: 47vh;
  }
}

.port {
  border-top: solid #565656 1px;
  border-bottom: solid transparent 1px;
}

.serv-row {
  margin: 0 120px;
}

.chapters {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border-bottom: solid #565656 1px;
  width: 100%;
}

.chapters h2 {
  text-transform: uppercase;
  color: #fd5433;
}

.serv_desript {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 70px 0;
}

.serv_desript h2 {
  padding: 20px 0px;
  font-family: Oswald-Bold;
  text-transform: uppercase;
  color: #565656;
  font-size: 1.9rem;
}

.serv_desript:hover > h2 {
  color: #fd5433;
}

.serv_desript h3 {
  font-size: 1rem;
  text-align: center;
  font-family: Arial;
  color: #565656;
}

.port {
  border-top: solid #565656 1px;
  border-bottom: none;
}

.porfolio_img {
  padding: 0;
  background-repeat: no-repreat;
  display: flex;
}

.porfolio_img > img {
  width: 100%;
  height: 25vh;
  transition: all .5s;
}

.porfolio_img:hover > img {
  opacity: .5;
}

@media screen and (min-width: 1200px) {
  .switch {
    opacity: 0;
  }
}

@media screen and (max-width: 1200px) {
  .nav-mnu {
    transition: .6s;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1001;
    top: 110px;
    background-color: #fd5433;
    margin: 0;
    padding: 0;
    right: -100%;
    opacity: 0;
  }
  .nav-mnu > li {
    padding: 10px;
    border-bottom: solid #565656 1px;
    font-size: 1.8rem;
    width: 50%;
  }
  .nav-mnu > li:hover {
    border-bottom: solid #fff 1px;
    padding: 10px;
  }
  .logo {
    margin-left: 20%;
  }
  .serv-row .serv_desript h2 {
    padding: 50px 0;
  }
  .row .porfolio_img > img {
    height: 20vh;
  }
  .about-us-row .about-u-col p {
    font-size: 14px;
  }
  .late-columns {
    flex-direction: column;
  }
  .late-columns img {
    height: 35vh;
  }
  .late-descr {
    margin-top: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .about-us-row .about-u-col p {
    font-size: 14px;
  }
  .r-tabs-panel .r-tabs-state-active .triangle {
    top: 213px;
  }
  .about-us-row {
    padding: 50px 10% 20px 10%;
  }
  .about-us-row .about-u-col p {
    margin-top: 10px;
    font-size: 12px;
  }
  .skills .desc-skills {
    margin: 0;
  }
  .skills .desc-skills .about-skills p {
    font-size: 12px;
  }
  .skills .desc-skills .persents .per-lines span {
    height: 6px;
  }
  .skills .desc-skills .persents .per-num p {
    font-size: 12px;
  }
  .late-descr {
    margin-top: 0;
  }
  .serv_desript img {
    height: 15vh;
  }
  .serv_desript h3 {
    font-size: 12px;
  }
  .serv-row .serv_desript h2 {
    padding: 20px 0;
  }
}

@media screen and (max-width: 992px) {
  .serv-row .serv_desript h2 {
    font-size: 22px;
  }
  .serv-row .serv_desript h3 {
    margin: 0;
    padding: 0;
  }
  .r-tabs-panel .r-tabs-state-active .triangle {
    top: 213px;
  }
  .serv-row {
    margin: 0;
  }
  .late-columns {
    flex-direction: row;
  }
  .late-columns img {
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .bcg_head {
    height: 80vh;
    overflow: hidden;
  }
  .bcg_head img {
    width: 200vw;
  }
  .serv-row .serv_desript h2 {
    padding: 20px 0;
  }
  .serv-row .serv_desript h3 {
    padding: 0;
  }
  .row .porfolio_img > img {
    height: 30vh;
  }
  .triangle {
    display: none;
  }
  .about-us-row .about-u-col p {
    font-size: 16px;
  }
  .skills h3 {
    padding: 10px 0;
  }
  .late-columns {
    flex-direction: column;
    align-items: center;
  }
  .late-columns img {
    height: 300px;
    width: 100%;
  }
  .late-descr {
    margin-top: 30px;
    margin-left: 0;
  }
  .feedback-form {
    flex-direction: column;
  }
  .feedback-form .upper-input {
    width: 100%;
  }
  .feedback-form .upper-input:nth-child(2) {
    margin-top: 20px;
  }
  .feedback {
    padding-top: 20px;
  }
  .serv_desript img {
    height: 30vh;
  }
  .serv_desript h3 {
    font-size: 30px;
  }
  .serv-row .serv_desript h2 {
    font-size: 55px;
  }
}

@media screen and (max-width: 576px) {
  .bcg_head .in-head > a {
    margin-top: 20%;
  }
  .bcg_head .in-head > h1 {
    font-size: 9vw;
  }
  .row .porfolio_img > img {
    height: 28vh;
    width: 50vw;
  }
  .about-us-row .about-u-col p {
    font-size: 14px;
  }
  .about-u-col {
    height: 55vh;
  }
  .late-columns {
    align-items: start;
    margin-top: 0;
  }
  .late-columns img {
    height: 45vw;
  }
}

.about-row {
  display: flex;
  margin: 0 120px;
}

.about-row .about-u {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background-repeat: no-repeat;
}

.about-row .about-u .au-discr {
  display: flex;
  position: absolute;
  width: 100vw;
  left: -150%;
  top: 100%;
  background-color: #fd5433;
  padding: 75px 120px 30px 120px;
  opacity: 1;
  z-index: 0;
}

.about-row .about-u .au-discr .skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-row .about-u .au-discr .skills .skil-lines {
  height: 10px;
  background-color: #fff;
  margin: 17px 0;
}

.contact {
  border-bottom: none;
  border-top: solid #565656 1px;
  margin-top: 60px;
}

.feedback {
  padding: 2% 10% 0 10%;
}

.feedback-form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.feedback-form .upper-input {
  height: 55px;
  width: 49%;
}

.feedback-form .upper-input:nth-child(1) {
  align-self: flex-start;
  margin-right: 1%;
}

.feedback-form .upper-input:nth-child(2) {
  align-self: flex-end;
  margin-left: 1%;
}

.feedback-form .foot-input {
  width: 100%;
  height: 220px;
  margin-top: 20px;
}

.feedback-form .button {
  width: 100%;
  margin-top: 20px;
  height: 55px;
  background-color: #fd5433;
  color: #fff;
  text-transform: uppercase;
  font-family: Oswald-Bold;
  font-size: 22px;
}

.feedback-form .button:active {
  background-color: #fff;
}

.feedback-form > input {
  padding-left: 20px;
  border: none;
}

.feedback-form > input::-webkit-input-placeholder {
  color: #fd5433;
  font-family: Arial, serif;
  margin-left: 20px;
}

.feedback-form > input::-moz-placeholder {
  color: #fd5433;
  font-family: Arial, serif;
  margin-left: 20px;
}

.feedback-form > input:-ms-input-placeholder {
  color: #fd5433;
  font-family: Arial, serif;
  margin-left: 20px;
}

.feedback-form > input:-moz-placeholder {
  color: #fd5433;
  font-family: Arial, serif;
  margin-left: 20px;
}

.footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 55px;
  margin-top: 80px;
  border-top: 1px #fff solid;
}

.footer p {
  color: #fff;
  margin: 0;
  align-self: center;
}

@media screen and (min-width: 1200px) {
  .switch {
    opacity: 0;
  }
}

@media screen and (max-width: 1200px) {
  .nav-mnu {
    transition: .6s;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1001;
    top: 110px;
    background-color: #fd5433;
    margin: 0;
    padding: 0;
    right: -100%;
    opacity: 0;
  }
  .nav-mnu > li {
    padding: 10px;
    border-bottom: solid #565656 1px;
    font-size: 1.8rem;
    width: 50%;
  }
  .nav-mnu > li:hover {
    border-bottom: solid #fff 1px;
    padding: 10px;
  }
  .logo {
    margin-left: 20%;
  }
  .serv-row .serv_desript h2 {
    padding: 50px 0;
  }
  .row .porfolio_img > img {
    height: 20vh;
  }
  .about-us-row .about-u-col p {
    font-size: 14px;
  }
  .late-columns {
    flex-direction: column;
  }
  .late-columns img {
    height: 35vh;
  }
  .late-descr {
    margin-top: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .about-us-row .about-u-col p {
    font-size: 14px;
  }
  .r-tabs-panel .r-tabs-state-active .triangle {
    top: 213px;
  }
  .about-us-row {
    padding: 50px 10% 20px 10%;
  }
  .about-us-row .about-u-col p {
    margin-top: 10px;
    font-size: 12px;
  }
  .skills .desc-skills {
    margin: 0;
  }
  .skills .desc-skills .about-skills p {
    font-size: 12px;
  }
  .skills .desc-skills .persents .per-lines span {
    height: 6px;
  }
  .skills .desc-skills .persents .per-num p {
    font-size: 12px;
  }
  .late-descr {
    margin-top: 0;
  }
  .serv_desript img {
    height: 15vh;
  }
  .serv_desript h3 {
    font-size: 12px;
  }
  .serv-row .serv_desript h2 {
    padding: 20px 0;
  }
}

@media screen and (max-width: 992px) {
  .serv-row .serv_desript h2 {
    font-size: 22px;
  }
  .serv-row .serv_desript h3 {
    margin: 0;
    padding: 0;
  }
  .r-tabs-panel .r-tabs-state-active .triangle {
    top: 213px;
  }
  .serv-row {
    margin: 0;
  }
  .late-columns {
    flex-direction: row;
  }
  .late-columns img {
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .bcg_head {
    height: 80vh;
    overflow: hidden;
  }
  .bcg_head img {
    width: 200vw;
  }
  .serv-row .serv_desript h2 {
    padding: 20px 0;
  }
  .serv-row .serv_desript h3 {
    padding: 0;
  }
  .row .porfolio_img > img {
    height: 30vh;
  }
  .triangle {
    display: none;
  }
  .about-us-row .about-u-col p {
    font-size: 16px;
  }
  .skills h3 {
    padding: 10px 0;
  }
  .late-columns {
    flex-direction: column;
    align-items: center;
  }
  .late-columns img {
    height: 300px;
    width: 100%;
  }
  .late-descr {
    margin-top: 30px;
    margin-left: 0;
  }
  .feedback-form {
    flex-direction: column;
  }
  .feedback-form .upper-input {
    width: 100%;
  }
  .feedback-form .upper-input:nth-child(2) {
    margin-top: 20px;
  }
  .feedback {
    padding-top: 20px;
  }
  .serv_desript img {
    height: 30vh;
  }
  .serv_desript h3 {
    font-size: 30px;
  }
  .serv-row .serv_desript h2 {
    font-size: 55px;
  }
}

@media screen and (max-width: 576px) {
  .bcg_head .in-head > a {
    margin-top: 20%;
  }
  .bcg_head .in-head > h1 {
    font-size: 9vw;
  }
  .row .porfolio_img > img {
    height: 28vh;
    width: 50vw;
  }
  .about-us-row .about-u-col p {
    font-size: 14px;
  }
  .about-u-col {
    height: 55vh;
  }
  .late-columns {
    align-items: start;
    margin-top: 0;
  }
  .late-columns img {
    height: 45vw;
  }
}

.triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 40px solid #fff;
  position: absolute;
  top: 356px;
}

.triang-1 {
  left: 0;
}

.triang-2 {
  left: 0;
}

.triang-3 {
  left: 0;
}

.triang-4 {
  left: 0;
}

.about-us-row {
  padding: 70px 10% 50px 10%;
  font-family: Oswald-Bold;
  color: #fff;
}

.about-us-row p {
  font-family: Arial;
  font-size: 16px;
}

.about-us-row h3 {
  font-size: 22px;
}

.about-us-row .about-u-col p {
  height: 130px;
  margin-top: 50px;
  margin-right: 30px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills h3 {
  width: 100%;
  margin: 0;
}

.skills .desc-skills {
  display: flex;
  height: 130px;
  width: 100%;
  margin-top: 30px;
}

.skills .desc-skills .about-skills {
  width: 30%;
}

.skills .desc-skills .about-skills p {
  text-transform: uppercase;
  margin: 0;
}

.skills .desc-skills .persents {
  width: 70%;
  display: flex;
}

.skills .desc-skills .persents .per-lines {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}

.skills .desc-skills .persents .per-lines span {
  height: 12px;
  background-color: #fff;
  margin-top: 11px;
}

.skills .desc-skills .persents .lines-1 > span:nth-child(2) {
  width: 96%;
}

.skills .desc-skills .persents .lines-1 > span:nth-child(3) {
  width: 89%;
}

.skills .desc-skills .persents .lines-1 > span:nth-child(4) {
  width: 67%;
}

.skills .desc-skills .persents .lines-1 > span:nth-child(5) {
  width: 75%;
}

.skills .desc-skills .persents .lines-2 > span:nth-child(2) {
  width: 80%;
}

.skills .desc-skills .persents .lines-2 > span:nth-child(3) {
  width: 91%;
}

.skills .desc-skills .persents .lines-2 > span:nth-child(4) {
  width: 100%;
}

.skills .desc-skills .persents .lines-2 > span:nth-child(5) {
  width: 75%;
}

.skills .desc-skills .persents .per-num {
  width: 20%;
}

.skills .desc-skills .persents .per-num p {
  margin: 0;
}


.late-columns {
  margin: 40px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.late-columns img {
  background-size: cover;
  background-position: center;
  height: 200px;
}

.late-chap {
  margin-bottom: 60px;
}

.latest-posts {
  margin: 0 10%;
}

.late-descr {
  margin-left: 30px;
}

.late-descr h3 {
  font-size: 25px;
  font-family: Oswald-Bold;
}

.late-descr h4 {
  font-size: 15px;
  font-family: Oswald-Bold;
}

.late-descr .spanner {
  height: 3px;
  width: 80px;
  background-color: #fd5433;
}

.late-descr p {
  font-size: 16px;
  line-height: 1;
  margin-top: 20px;
  font-family: Arial, serif;
}
